body {
    background: linear-gradient(45deg, #ffc0cb, #ffb6c1, #ff69b4, #9f2a69, #700a4b);
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #aa63d056;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.card {
    background-color: rgba(255, 174, 250, 0.45);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.card-header {
    background-color: #8737b092;
    color: #000000f7;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.image-container {
    margin-top: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-footer {
    background-color: #62246854;
    color: #000000d5;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4c298a5b;
    color: #000000;
    font-size: 14px;
}